.header {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100px;
  background-color: #fff;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header-container {
  width: 100%;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo-link {
  align-self: center;
}

.header__logo-link:focus {
  outline: 2px solid #ff9900;
}

.header-menu__wrapper {
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.header__burger-cross {
  display: none;
}

.header-menu__item {
  margin-right: 82px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.nav-btn {
  margin-top: 2px;
  border: 2px solid transparent;
}

.nav-btn:hover {
  border-bottom: 2px solid #ff9900;
  transition: border 200ms ease-in-out;
}

.nav-btn:focus {
  outline: none;
  border: 2px solid #ff9900;
}

.nav-btn:active {
  color: #e1670e;
  border-bottom: 2px solid #e1670e;
}

.header__burger-btn {
  display: none;
  padding: 5px 0 0 0;
  background-color: white;
  border: none;
}

.header__search {
  display: inline-flex;
  justify-content: flex-end;
  padding: 0;
  border: none;
  background-color: white;
}

.header__search:hover rect {
  fill: #ff9900;
}

.header__search:hover path {
  stroke: #ff9900;
}

.header__search:hover svg {
  fill: transparent;
}

.header__search:focus {
  outline: 2px solid #ff9900;
}

.header__search:active rect {
  fill: #ff9900;
}

.header__search:active path {
  stroke: #ff9900;
}

.header__search:active svg {
  fill: transparent;
}

.active {
  display: block !important;
}

@media screen and (max-width: 1770px) {
  .header-container {
    margin: 0 50px;
  }

  .header-menu__item {
    margin-right: 50px;
  }
}

@media screen and (max-width: 1024px) {
  #header__burger-btn {
    display: inline;
    order: 1;
    border: none;
    background-color: white;
  }

  .header__burger-cross {
    padding: 0;
    margin: 0;
    width: 23px;
    height: 23px;
    background-color: white;
    border: none;
  }

  .header-menu {
    z-index: 10;
    display: block;
    position: absolute;
    top: 0;
    left: -1200px;
    padding: 40px 220px 220px 50px;
    margin: 0;
    background-color: white;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    transition: left 300ms ease-in-out;
  }

  .active {
    left: 0;
  }

  .header-menu__item {
    margin-top: 60px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  .header-menu__item:first-of-type {
    margin-top: 100px;
  }

  .header__logo-link {
    order: 2;
  }

  .header__logo {
    max-width: 150px;
    max-height: 50px;
  }

  .header-menu__wrapper {
    order: 3;
  }

  .header-wrapper {
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 70px;
  }

  .header-menu {
    padding: 25px 220px 200px 50px;
  }

  .header__logo {
    max-width: 150px;
  }
}

@media screen and (max-width: 500px) {
  .header-menu {
    width: 100%;
    padding: 25px 0 200px 50px;
  }

  .header-menu__item:first-of-type {
    margin-top: 40px;
  }

  .header-menu__item {
    margin-top: 40px;
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .header-container {
    margin: 0 15px;
  }

  .header-menu {
    padding: 23px 0 70px 15px;
    max-height: 378px;
  }

  .header-menu__item {
    margin-top: 32px;
    font-size: 16px;
    line-height: 20px;
  }

  .header__logo-link {
    max-width: 110px;
  }

  .header__logo {
    max-width: 110px;
    max-height: 35px;
  }
}
