@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf") format("ttf");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf") format("ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.ttf") format("ttf");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}


* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'montserrat', sans-serif, 'Roboto';
}

a {
  text-decoration: none;
  color: #333;
}

h1 {
  font-size: 70px;
  line-height: 85px;
  font-weight: 800;
}

h2 {
  margin-top: 100px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1770px;
  margin: 0 auto;
}

.big-btn:hover,
.big-btn:focus {
  outline: none;
  background-color: #ffb84d;
}

.big-btn:active {
  background-color: #e1670e;
}

.big-btn-hollow:hover,
.big-btn-hollow:focus {
  outline: none;
  color: #fff;
  background-color: #666;
  border-color: #666;
}

.big-btn-hollow:active {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.txt-descr {
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
}

@media screen and (max-width: 1770px) {
  .container {
    margin: 0 50px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    margin: 0 50px;
  }

  h2 {
    margin-top: 80px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    margin: 0 25px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    margin: 0 15px;
  }

  h2 {
    margin-top: 60px;
    font-size: 24px;
    line-height: 29px;
  }

  h3 {
    font-weight: 500;
  }

  .txt-descr {
    font-size: 14px;
    line-height: 28px;
    font-weight: normal;
  }
}
